<h2>Site de {{title}}</h2>

<nav>
  <ul>
    <li><a routerLink="/bon"> Bons étudiants</a></li>
    <li><a routerLink="/moyen"> Étudiants moyens</a></li>
    <li><a routerLink="/mauvais"> Mauvais étudiants</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
<div *ngIf="afficheliste">
  <h2 >Liste Étudiants</h2>
   <ul>
     <li *ngFor="let etud of etudiants">
    {{etud.cp}} - {{etud.prenom}} {{etud.nom}} {{etud.age}}
  </li>
   </ul>
</div>
<p>
<button (click)="afficher()">Afficher</button>
<button (click)="cacher()">Cacher</button>
</p>
